<!-- {{scoreList|json}} -->
<app-main-view>
  <div lcd-display *ngIf="scoreList.length>0" class="scrollable-score-list">
    <div *ngFor="let element of scoreList">
        <div class="row">
            <div class="col-9">{{element.name}}</div>
            <div class="col-3">{{element.score}}</div>
        </div>
    </div>
</div>
<div controls-content class="row justify-content-center">
  <div class="col-3 space-left">
      <button class="button-normal max-size-button" (click)="backButton()">Return</button>
  </div>
</div>
</app-main-view>

