<app-main-view>

    <div lcd-display>
        <p (click)="gameRedirect()">
          <span *ngIf="selectedMenuItem===1" class="blink-me neonText">&gt;</span>
          Play
          <span *ngIf="selectedMenuItem===1" class="blink-me neonText">&lt;</span>
        </p>
        <p (click)="scoreRedirect()">
          <span *ngIf="selectedMenuItem===2" class="blink-me neonText">&gt;</span>
          Score
          <span *ngIf="selectedMenuItem===2" class="blink-me neonText">&lt;</span>
        </p>
        <p (click)="exitRedirect()">
          <span *ngIf="selectedMenuItem===3" class="blink-me neonText">&gt;</span>
          Exit
          <span *ngIf="selectedMenuItem===3" class="blink-me neonText">&lt;</span>
        </p>
      </div>
</app-main-view>



