
@import "../../shared/styles/buttons-arcade.scss";
$color-data:#0bdb0b;
*{
  color: $color-data;
}

.play-history {
    max-height: 450px;

    overflow: scroll;
}

.row h3 {
    text-align: center;
}
::ng-deep ngx-snake {
  &.black-and-white{
      ngx-snake-tile {
          background: #ffffff;
          &.free {
              div {
                  background: #ffffff;
              }
          }

          &.head,
          &.tail,
          &.food,
          &.body {
              div {
                  border: 2px solid yellow;
                  background: #000000;
              }
          }
      }
  }
}
