
@import "../../shared/styles/arcade-styles.scss";
@import "../../shared/styles/buttons-arcade.scss";
$color-data:#0bdb0b;
*{
  color: $color-data;
}

.play-history {
    max-height: 450px;

    overflow: scroll;
}

.row h3 {
    text-align: center;
}
