@import 'simple-keyboard/build/css/index.css';
@import "../../shared/styles/arcade-styles.scss";
@import "../../shared/styles/buttons-arcade.scss";
$color-data:#0bdb0b;

.simple-keyboard {
    width: 100%;
}

.user-form {
    border-radius: 10px;
    border: 5px solid $color-data;
    background-color: black;
    height: 59vh;
    color: $color-data;
    padding: 1rem 1rem;

    h3 {
        font-family: "Snake", Arial, Helvetica, sans-serif;
        padding-bottom: 10px;
    }

    h3,
    p {
        text-align: center;
    }

    label {
        width: 100%;
        font-size: 1.3rem;
    }

    input {
        width: 70%;
        border-radius: 10px;
        border: 3px solid $color-data;
        background-color: black;
        color: $color-data;
    }
    input[type='checkbox']{
      width: 10px;
      margin-top: 5px;
    }
}


.alert {
    position: relative;
    padding: 1rem 0;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
}
button{
  font-size: 20px;
}
.no-alert {
    margin-bottom: 3.5rem;
}
.hg-theme-default .hg-button{
  height: 30px;
}
.space-left{
    padding-left: 10px;
}
.hg-theme-default .hg-button{
    display: inline-block;
    font-family: 'PressStart2p';
    margin-right: 5px;
    font-weight: bold;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 .2em gray;
    margin-bottom: 2px;
    cursor: pointer;
    font-size: 10px ;

}
