<form #userForm="ngForm" class="" appIdentityRevealed (ngSubmit)="submitForm()">

    <div class="row justify-content-center">

        <div [hidden]="userForm.submitted" class="col-4 user-form ">
            <h3>Welcome to the NG-Snake!</h3>
            <p>
                Input your name and email to start the game.
            </p>
            <div class="col-9 cross-validation offset-md-3"
                [class.cross-validation-error]="userForm.errors?.['identityRevealed'] && (userForm.touched || userForm.dirty)">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" required minlength="4"
                        [className]="name.invalid && (name.dirty || name.touched) ? 'form-control':'form-control no-alert'"
                        value={{user.name}} [(ngModel)]="user.name" #name="ngModel" (input)="onInputChange($event)"
                        (focus)="onInputFocus($event)">
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
                        <div *ngIf="name.errors?.['required']">
                            Name is required.
                        </div>
                        <div *ngIf="name.errors?.['minlength']">
                            Name must be at least 4 characters long.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" mess id="email"
                        name="email" #email="ngModel" (input)="onInputChange($event)" required minlength="6"
                        value={{user.email}} [(ngModel)]="user.email" (focus)="onInputFocus($event)"
                        class="form-control">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
                        <div *ngIf="email.errors?.['required']">
                            Email is required.
                        </div>
                        <div *ngIf="email.errors?.['minlength']">
                            Email must be at least 6 characters long.
                        </div>
                        <div *ngIf="email.errors?.['pattern']">
                            Email address is invalid.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-5 align-self-center">
            <div style="text-align:center">
                <div class="simple-keyboard"></div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5 align-self-center">
            <button class="button-style green" type="submit" [disabled]="userForm.invalid">Start Game</button>
            <button class="button-style red" (click)="backButton()">Back intro page</button>
        </div>
    </div>
</form>